[Desktop Entry]
Name=Agent Core
Exec=/usr/lib/agent-core/agent-core %U
Icon=/usr/share/pixmaps/agent-core.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
